.DS_Store
npm-debug.log

.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/key-translate.iml
.idea/libraries/
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
